<section class="page page--current" id="contact">
    <div class="page-header">

        <!--Content before waves-->
        <div class="page-header-inner">
            <h1 class="page-title">Contact Me</h1>
        </div>
    
        <!--Waves Container-->
        <div>
            @if(themeService.darkModeSignal() === "dark") {
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(10, 9, 8,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(10, 9, 8,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(10, 9, 8,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#0A0908" />
                    </g>
                </svg>
            } @else {
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                    </g>
                </svg>
            }
            
        </div>
        <!--Waves end-->
    
    </div>
    
    <div class="page-content flex items-center justify-center">
        <div>
            <div class="section-title">
                <h3>Get in touch</h3>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
                <p-floatlabel class="mb-3" variant="on">
                    <input pInputText id="on_label" formControlName="name" autocomplete="off" />
                    <label for="on_label">Name</label>
                </p-floatlabel>
                
                <p-floatlabel class="mb-3" variant="on">
                    <input pInputText id="on_label" formControlName="email" autocomplete="off" />
                    <label for="on_label">Email</label>
                </p-floatlabel>

                <p-floatlabel class="mb-3" variant="on">
                    <textarea pTextarea id="over_label" formControlName="msg" rows="5" cols="30" style="resize: none" class="h-full"></textarea>
                    <label for="on_label">Message</label>
                </p-floatlabel>

                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</section>