<section class="page page--current" id="portfolio">
    <div class="page-header">

        <!--Content before waves-->
        <div class="page-header-inner">
            <h1 class="page-title">Portfolio</h1>
        </div>

        <!--Waves Container-->
        <div>
            @if(themeService.darkModeSignal() === "dark") {
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(10, 9, 8,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(10, 9, 8,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(10, 9, 8,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#0A0908" />
                </g>
            </svg>
            } @else {
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                </g>
            </svg>
            }

        </div>
        <!--Waves end-->

    </div>

    <div class="page-content">
        <!-- @for (item of projects; track $index) {
            <p>{{ item.name }}</p>
            <p>{{ item.website }}</p>
            <p>{{ item.client }}</p>
            <div
            *ngIf="item.shortDescription"
            [innerHTML]="item.shortDescription | blockToHtml"
            ></div>
            <div
            *ngIf="item.longDescription"
            [innerHTML]="item.longDescription | blockToHtml"
            ></div>
            <p>{{ item.category }}</p>
            <p>{{ item.technologies }}</p>
            <div class="flex gap-1 mb-2 overflow-auto">
                @for (img of item.gallery; track $index) {
                    <img [src]="getImageUrl(img)" [alt]="item.name" class="max-w-32" />
                }
            </div>
            <img [src]="getImageUrl(item.featuredImage)" [alt]="item.name" class="max-w-60" />
        } -->
        <!-- <div *ngFor="let item of projects | orderBy: [priority] : ['desc'];">
            <p>{{ item.name }}</p>
            <p>{{ item.website }}</p>
            <p>{{ item.client }}</p>
        </div> -->
        <div class="grid grid-cols-1 gap-[20px] sm:grid-cols-2 lg:grid-cols-3">
            <div *ngFor="let item of projects | orderBy: [priority]; let i = index" class="img-item circle effect10 top_to_bottom">
                <a (click)="showDialog(item.priority)">
                    <div class="img">
                        <img [src]="getImageUrl(item.featuredImage)" [alt]="item.name" />
                    </div>
                    <div class="info">
                        <h4>{{ item.name }}</h4>
                        <p>{{ item.category }}</p>
                    </div>
                </a>

                <p-dialog #portfolioDialog header="Header" [modal]="true" [(visible)]="visibleDialogs[item.priority]" class="dialog-default no-title"
                [style]="{ width: '70vw' }" [ngClass]="visibleDialogs[item.priority] ? 'block' : 'hidden'" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                <div class="grid grid-cols-1 gap-[20px] lg:grid-cols-2 lg:gap-[16px]">
                    <div>
                        <swiper-container
                            style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff; --swiper-navigation-size: 36px"
                            class="swiperImages" thumbs-swiper=".swiperThumbs" space-between="10" navigation="true">
                            @for (item of item.gallery; track $index) {
                            <swiper-slide>
                                <img [src]="getImageUrl(item)" />
                            </swiper-slide>
                            }
                        </swiper-container>

                        <swiper-container class="swiperThumbs py-[10px]" space-between="10" slides-per-view="3"
                            free-mode="true" watch-slides-progress="true">
                            @for (item of item.gallery; track $index) {
                            <swiper-slide>
                                <img [src]="getImageUrl(item)" />
                            </swiper-slide>
                            }
                        </swiper-container>
                    </div>
                    <div class="overflow-y-auto">
                        <p class="mb-1 text-[12px] uppercase">{{ item.category }}</p>
                        <h4 class="mb-3 text-primary-1 text-2xl capitalize">{{ item.name }}</h4>
                        <a class="block mb-3 underline hover:!underline" target="_blank" href="{{ item.website }}">{{ item.website }}</a>

                        @if (item.shortDescription) {
                            <div
                                [innerHTML]="item.shortDescription | blockToHtml"
                                class="mb-3"
                            ></div>
                        }

                        @if (item.technologies) {
                            <div class="mb-3">
                                <span class="block pb-2 text-dark-1/80 font-bold dark:text-white/80">Technologies</span>
                                @for (tech of item.technologies; track $index) {
                                    <p-chip label="{{tech}}" class="mb-[4px] mr-[8px] uppercase" />
                                }
                            </div>
                        }

                        @if (item.longDescription) {
                            <span class="block pb-1 text-dark-1/80 font-bold dark:text-white/80">Contributions</span>
                            <div
                                [innerHTML]="item.longDescription | blockToHtml"
                                class="list-disc-child"
                            ></div>
                        }
                    </div>
                </div>
            </p-dialog>
            </div>
        </div>
    </div>
</section>