<main class="pages relative z-0 w-screen h-screen overflow-hidden">
    <section class="page page--current" id="maintenance">
        <div class="bg-accent fixed w-full h-[200%] -rotate-[15deg] -top-1/2 -left-[83%] hidden lg:block"></div>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="flex flex-col items-center justify-center lg:ml-[30%] w-full lg:w-[calc(100%-30%)] h-screen mx-auto text-center">
            <div class="avatar w-[200px] h-[270px] relative mb-[20px]">
                <div class="avatar-image absolute inset-0 bg-no-repeat bg-center bg-cover" data-img-url="https://i.ibb.co.com/L8kKSn3/sazzad-hossain-01-sm.jpg" style="background-image: url(https://i.ibb.co.com/L8kKSn3/sazzad-hossain-01-sm.jpg);"></div>
            </div>
            <div>
                <div class="mx-auto max-w-[600px]">
                    <h1 class="text-[30px] text-accent font-Poppins relative uppercase font-bold leading-lh-62 px-[12px] md:px-0 before:absolute before:left-0 before:top-[29px] before:h-4 before:w-40 before:rounded-10 md:text-[42px] down-xl:before:hidden md:leading-[52px] down-md:text-fs-38 down-md:leading-lh-48 down-md:mt-29 down-md:mb-13 xs:text-fs-29 xs:leading-lh-39 xs:mt-18">
                        Under Maintenance
                        <span class="block text-[22px] md:text-[30px] text-white">I will be back soon<span class="hidden md:inline-block">,</span> <span class="block md:inline-block md:pl-[4px]">In shaa Allah</span></span>
                    </h1>
                </div>
            </div>
            <div class="socials flex flex-col">
                <p class="mb-[8px]">You can reach me:</p>
                <ul class="social-btn">
                    <li>
                        <a href="https://www.facebook.com/rhossainbd" target="_blank">
                            <fa-icon class="facebook" [icon]="['fab', 'facebook-f']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://join.skype.com/invite/vwNHYMYW5jvJ" target="_blank">
                            <fa-icon class="skype" [icon]="['fab', 'skype']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/rhossain" target="_blank">
                            <fa-icon class="linkedin" [icon]="['fab', 'linkedin-in']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rshossain.bd" target="_blank">
                            <fa-icon class="instagram" [icon]="['fab', 'instagram']"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
