@if(themeService.darkModeSignal() === "dark") {
    <a 
        class="btn-icon btn-switch"
        (click)="toggleDarkMode()"
        >
        <fa-icon [icon]="['far', 'sun']" class="mx-auto block text-center pointer-events-none group-hover:text-white group-[.active]:text-white transition-all duration-300"></fa-icon>
    </a>
} @else {
    <a 
        class="btn-icon btn-switch"
        (click)="toggleDarkMode()"
        >
        <fa-icon [icon]="['far', 'moon']" class="mx-auto block text-center pointer-events-none group-hover:text-white group-[.active]:text-white transition-all duration-300"></fa-icon>
    </a>
}
<header class="header lg:fixed lg:top-0 lg:bottom-0 lg:right-[30px] lg:z-[30] lg:flex lg:items-center lg:h-full">
    <ul id="desktop-nav" class="icon-menu hidden md:block uppercase">
        <li class="desktop-nav-item active">
            <fa-icon [icon]="['fas', 'house']" class="desktop-nav-icon"></fa-icon>
            <div class="desktop-nav-content group">
                <h2 class="desktop-nav-label">Home</h2>
            </div>
        </li>
        <li class="desktop-nav-item">
            <fa-icon [icon]="['fas', 'user']" class="desktop-nav-icon"></fa-icon>
            <div class="desktop-nav-content group">
                <h2 class="desktop-nav-label">About</h2>
            </div>
        </li>
        <li class="desktop-nav-item">
            <fa-icon [icon]="['fas', 'briefcase']" class="desktop-nav-icon"></fa-icon>
            <div class="desktop-nav-content group">
                <h2 class="desktop-nav-label">Portfolio</h2>
            </div>
        </li>
        <li class="desktop-nav-item">
            <fa-icon [icon]="['fas', 'envelope-open']" class="desktop-nav-icon"></fa-icon>
            <div class="desktop-nav-content group">
                <h2 class="desktop-nav-label">Contact</h2>
            </div>
        </li>
    </ul>
    <label class="btn-icon block md:hidden absolute top-[12px] right-[30px] z-40 px-3 py-5 rounded-[8px]" for="mobile-menu">
        <input class="peer hidden" type="checkbox" id="mobile-menu" />
        <div class="relative z-50 block h-[1px] w-6 bg-white bg-transparent content-[''] before:absolute before:top-[-0.40rem] before:z-50 before:block before:h-full before:w-full before:bg-white before:transition-all before:duration-200 before:ease-out before:content-[''] after:absolute after:right-0 after:bottom-[-0.40rem] after:block after:h-full after:w-full after:bg-white after:transition-all after:duration-200 after:ease-out after:content-[''] peer-checked:bg-transparent before:peer-checked:top-0 before:peer-checked:w-full before:peer-checked:rotate-45 before:peer-checked:transform after:peer-checked:bottom-0 after:peer-checked:w-full after:peer-checked:-rotate-45 after:peer-checked:transform">
        </div>
        <div class="fixed inset-0 z-40 hidden h-full w-full bg-white/20 backdrop-blur-sm peer-checked:block">
            &nbsp;
        </div>
        <div class="fixed top-0 right-0 z-40 h-full w-full translate-x-full overflow-y-auto overscroll-y-none transition duration-500 peer-checked:translate-x-0">
            <div class="float-right min-h-full w-[85%] bg-zinc-950 px-6 pt-12 shadow-2xl">
                <ul id="mobile-nav" class="max-w-[calc(100%-66px)]">
                    <li class="mobile-nav-item">
                        <a href="#" class="mobile-nav-link">
                            <fa-icon [icon]="['fas', 'house']" class="mobile-nav-icon"></fa-icon>
                            <span class="block">Home</span>
                        </a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="#" class="mobile-nav-link">
                            <fa-icon [icon]="['fas', 'user']" class="mobile-nav-icon"></fa-icon>
                            <span class="block">About</span>
                        </a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="#" class="mobile-nav-link">
                            <fa-icon [icon]="['fas', 'briefcase']" class="mobile-nav-icon"></fa-icon>
                            <span class="block">Portfolio</span>
                        </a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="#" class="mobile-nav-link">
                            <fa-icon [icon]="['fas', 'envelope-open']" class="mobile-nav-icon"></fa-icon>
                            <span class="block">Contact</span>
                        </a>
                    </li>
                </ul>
                <div class="socials flex flex-col">
                    <p class="mb-[8px]">You can reach me:</p>
                    <ul class="social-btn">
                        <li>
                            <a href="https://www.facebook.com/rhossainbd" target="_blank">
                                <fa-icon class="facebook" [icon]="['fab', 'facebook-f']"></fa-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://join.skype.com/invite/vwNHYMYW5jvJ" target="_blank">
                                <fa-icon class="skype" [icon]="['fab', 'skype']"></fa-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rhossain" target="_blank">
                                <fa-icon class="linkedin" [icon]="['fab', 'linkedin-in']"></fa-icon>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/rshossain.bd" target="_blank">
                                <fa-icon class="instagram" [icon]="['fab', 'instagram']"></fa-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </label>
</header>
